*{
  font-family: "poppins" , sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formcenter{
  display:flex;
  justify-content: center;

  }
  .logheading{
    text-align: center;
    background-color:rgba(169, 173, 169, 0.823);
    color: black;
    
  }
  .divstyle{
    height: 70vh;
    width: 100vw;
  }

  .headStyle{
    text-align: center;
    line-height: 550px;
    color: rgb(34, 32, 32);
    font-size: 100px;
  }
  body{
    background-color:rgb(247, 243, 243);
  }
  .paperStyle{
    padding: 20px;
    height: 70vh;
    width: 400px;
    margin: 20px auto
  }
  
  

 